#open {
	display: block !important;
}
#close {
	display: none;
}

.modal {
	z-index: 1000;
	background-color: #000000aa;
}
.modal-dialog {
	z-index: 1001;
	max-width: 60vw;
	width: 50vw !important;
}
.modal-right {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 400px;
}