.show-cart-button {
	right: 20px;
	bottom: 20px;
	position: fixed;
	cursor: pointer;
	padding: 30px;
	border-radius: 50%;
	background-color: #00c851;
	z-index: 10000;
}
.cart-item {
	margin: 0 10px;
	display: inline;
}
.prefix {
	display: inline-block;
}
input:focus ~ label, input:valid ~ label {
	top:-20px;
	font-size:14px;
}
.form-control {
	display: inline-block;
}